.navbar {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 241, 241);
    padding: 0 2%;

    >.row {
        justify-content: space-between;

        >* {
            /* border: 1px solid black; */
            height: 100%;
            /* width: 100px; */
        }

        >div {
            display: flex;

            >div {
                padding: 10px;
                /* border: 1px solid black; */
                height: 100%;
                /* بخاطر اینکه متن و ایکون زیر هم نیاشه */
                display: flex;

                >* {
                    display: flex;
                    height: 100%;

                }

                >i {
                    /* margin: 0 5px;
                    position: relative;
                    z-index: 0; */
                    /* width: 100%; */
                    background-color: azure;
                    border-radius: 50px;
                    width: 70px;

                    height: 100%;

                    /* margin-top: 2px; */
                    &::before {
                        /* content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        background-color: azure;
                        /* border: 1.5px dashed black; */
                        /* border-radius: 50%; */
                        /* z-index: -1; */
                        */
                    }

                }

                /* >span{
                    align-items: center;

                } */

            }
        }

        >nav {
            >ul {
                >li {
                    height: 100%;

                    >a {
                        margin: 10px;
                        /* border: 1px solid black; */
                        background-color: azure;
                        border-radius: 50px;
                        margin-right: 10px;
                        display: flex;
                        height: 25px;
                        width: 25px;
                    }
                }
            }

        }
    }
}

/* تمام */
.slider {
    width: 100%;
    min-height: 100vh;
    background-image: url(../imges/home-banner.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 4%;
    display: flex;
    align-items: start;
    position: relative;

    >.txt {
        font-size: 20px;
        /* font-weight: bold; */
        position: absolute;
        width: 50%;
        left: 20px;
        top: 40%;
        padding: 10px;
        margin: 10px;
    }

    >.hj {
        font-size: 45px;
        font-weight: bold;
        position: absolute;
        width: 50%;
        left: 20px;
        top: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    >header {
        width: 100%;
        height: 50px;
        margin-top: 10px;

        >.row {
            >* {
                height: 100%;
                /* border: 1px solid black; */


            }

            >span {
                width: 20%;
                font-size: 40px;
                font-weight: bold;
            }

            >nav {
                width: 60%;


                >ul {
                    /* width: 100%; */
                    /* height: 100%; */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >li {
                        /* border: 1px solid black; */
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        position: relative;


                        >ul {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            background-color: rgba(250, 255, 106, 0.311);
                            margin: 0;
                            padding: 0;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.4s;
                            border-radius: 10px;

                            >li {
                                >a {
                                    display: flex;
                                    padding: 5px 10px;
                                    transition: 0.4s;

                                    &:hover {
                                        color: rgb(255, 255, 255);
                                        background-color: rgba(0, 0, 0, 0.738);
                                        border-radius: 20px;
                                    }

                                }
                            }
                        }

                        &:hover {
                            >ul {
                                opacity: 1;
                                visibility: visible;
                            }


                        }


                        >a {
                            border-radius: 10px;
                            /* border: 1px solid black; */
                            position: relative;

                            background-color: bisque;
                            padding: 10px 10px;
                            font-size: 20px;
                            font-weight: bold;

                            &:hover {
                                &::after {
                                    width: 100%;
                                    height: 1.5px;
                                    background-color: rgb(0, 0, 0);


                                }
                            }

                            &::after {
                                content: '';
                                display: flex;
                                position: absolute;
                                width: 2px;
                                background-color: rgba(0, 0, 0, 0);
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                transition: 0.4s;
                            }

                        }
                    }
                }
            }

            >div {
                width: 20%;
                display: flex;
                justify-content: end;

                >* {
                    /* border: 1px solid black; */
                    display: flex;
                    /* چون میخوام طول و عرض بدم */
                    font-weight: bold;
                }

                >a {
                    width: 180px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.4s;
                    border: 2px dashed black;
                    border-radius: 50px;
                    font-size: 15px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.693);
                        color: azure;
                        border-radius: 50px;

                        >div>i {
                            &:first-of-type {
                                left: 0;
                            }

                            &:last-of-type {
                                left: 30px;
                            }

                            >svg {
                                fill: azure;

                            }
                        }
                    }

                    >* {
                        display: flex;
                    }

                    >span {}

                    >div {
                        position: relative;
                        /* border: 2px solid red; */
                        width: 25px;
                        height: 25px;
                        overflow: hidden;
                        margin-left: 10px;

                        >i {
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            fill: black;
                            transition: 1s;

                            &:first-of-type {
                                left: -30px;

                            }

                            &:last-of-type {
                                left: 0;

                            }
                        }
                    }


                }

                >i {
                    height: 40px;
                    width: 40px;
                    margin-left: 10px;
                }
            }
        }
    }
}

/* end  */

.next {
    width: 100%;
    min-height: 50vh;
    background-image: url(../imges/images.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;




    >figure {
        /* border: 2px solid black; */
        display: flex;
        width: 20%;
        height: 200px;
        margin: 80px;
        position: relative;



        &:hover {
            >img {
                filter: blur(5px);
                scale: 0.99;
            }




            >figcaption {
                scale: 1.2;
                font-size: 15px;
                bottom: 40%;
                /* bottom: 20px; */
                background-color: rgba(255, 218, 185, 0.773);
                border-radius: 50px;


            }
        }


        >figcaption {
            position: absolute;
            bottom: -20%;
            right: 0;
            background-color: bisque;
            display: flex;
            width: 100%;
            height: 30px;
            justify-content: center;
            align-items: center;
            /* border-radius: 30px; */
            font-weight: bold;
            transition: 0.8s ease;


        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            transition: 0.4s;


        }
    }
}

/* end  */
.card {
    background-color: rgba(250, 203, 162, 0.527);
    border-radius: 20%;
    width: 100%;
    padding: 5%;
    
    display: flex;
    /* border: 1px solid black; */
    position: relative;
    

    .row {
        /* border: 1px solid black; */

        display: flex;

        >figure {
            height: 450px;
            width: 450px;
            padding: 20px;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        >.a {
           justify-content: center;
                align-items: center;
                display: flex;
            >h3{
                height: 20px;
                background-color: rgb(243, 161, 55);
                border-radius: 50px;
                position: absolute;
                bottom: 62%;
                font-size: 31px;
               
            }

            >p {
                width:500px;
                height: 70px;
                font-size: 20px;
                display: flex;
                justify-content: left;
            }


        }

        >.b {
            display: flex;
            
            >h3{
                top: 75%;
                position: absolute;
                display: flex;
                font-size: 20px;
                right: 20%;
                background-color: rgba(255, 166, 0, 0.555);
                height: 10px;
                border-radius: 20px;
            }
            >p{
                width:500px;
                height: 50px;
                font-size: 20px;
                display: flex;
                justify-content: left;
                position: absolute;
                left: 65%;
                top: 80%;
                
            }
        }

    }
}
/* end  */
.vm{
   width: 100%;
    min-height: 80vh;
    background-image: url(../imges/4587.jpg);
    background-size:60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* end  */
.img{
    width: 100%;
    height: 100vh;
    padding:  4%;
    background-color: rgba(255, 228, 196, 0.628);
    border-radius: 50%;
    >.row{
        >figure{
            height: 400px;
            width: 430px;
            position: relative;
            margin-right: 30px;
            
            
            &:hover{
                >img{
                    scale: 0.8;
                }
                >div{
                    bottom: -40px;
                }
            }
            >img{
                height: 100%;
                width:100%;
                object-fit: cover;
                transition: 0.4s;
                
            }
            >div{
                transition: 0.4s;
                position: absolute;
                width: 80%;
                height: 100px;
                bottom: -30%;
                left: 10%;
                background-color: rgba(8, 138, 95, 0.205);
                border-radius: 1000px;
                
                >*{
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 10px 0;
                    

                }
                h2{

                }
                >p{
                    position: relative;
                    &::after{
                        position: absolute;
                        bottom: -10px;
                        content: '';
                        display: flex;
                        width: 60%;
                        height: 1px;
                        background-color: rgba(0, 0, 0, 0.573);
                    }

                }

                
            }

        }
    }
}
/* end  */
.foot{
    width: 100%;
    height: 80vh;
    padding: 70px 4%;
    /* background-color: antiquewhite; */
    text-align: center;
        >.container{
            /* border: 1px solid black; */
                                border-radius: 50px;

            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            >figure{
                /* border: 1px solid black; */
                width: 400px;
                height: 400px;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50px;
                }
            }
            
        }
        >.icon{
            /* border: 1px solid black; */
            >.row{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                >li>a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: azure;
                    border-radius: 50px;
                    font-weight: bold;
                    margin-top: 10px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    transition: all 0.4s ease ;
                    &:hover{
                        background-color: rgba(238, 235, 89, 0.311);
                        transform: translateY(-5px) scale(1.1);
                    }
                    
                }

            }
        }
    }
